body {
    width: 250px;
    background: #e8ffdb;
    font-family: Arial, serif;
    font-size: 13px;
}
.title {
    color: #146731;
}
.row-title {
    font-size: 13px;
    display: inline-block;
    width: 80px;
    line-height: 25px;
}
#date, #currency {
    width: 150px;
    border: 1px solid #d0d0d0;
    font-size: 13px;
    line-height: 25px;
    background: #fff;
    height: 25px;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: all 0.2s;
    cursor: pointer;
}
#date:focus, #currency:focus {
    border: 1px solid #146731;
}
#date:hover, #currency:hover {
    border: 1px solid #989898;
}
#date.error, #currency.error {
    border: 1px solid #ff0000;
}
#date {
    padding: 0 5px;
    font-family: Arial, serif;
}
#currency {
}
#show {
    background: #146731;
    border: none;
    color: #fff;
    line-height: 25px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s;
    outline: none;
    float: left;
}
#show:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#show > div {
    float: left;
}
#loader {
    position: relative;
    top: 2px;
    height: 20px;
    left: 5px;
    display: none;
    margin-right: 5px;
}
#rate {
    display: none;
    float: left;
    margin-left: 12px;
    position: relative;
    line-height: 25px;
    height: 25px;
    background: #fff;
    padding: 0 5px;
    border: 1px solid #d0d0d0;
}
.clear {
    clear: both;
}